<?xml version="1.0"?>
<configuration>
<configSections> 
  <section name="Protein"   type="Protein.Enzyme.Layout.Configuration.ProteinCustomSection, Protein.Enzyme" />
</configSections>
 <Protein> 
    <!--数据操作对象实体配置,必须包括程序日志实体类
    AssemblyName  实体程序集文件名 
    ProteinLog    类库日志记录器（命名空间位置错）
    EntityFactory 实体工厂类名 当前版本需要建立实体类处理适配器
    -->
    <DAlEntity AssemblyName="Protein.Enzyme.DAL.MDB" 
               ProteinLog="Protein.Enzyme.DAL.MDB.Entity.ProteinLogger" 
               EntityFactory="Protein.Enzyme.DAL.MDB.Entity.EntityFactory"></DAlEntity>
   <!-- MessageLevel 消息处理的级别 Error>Warning>Note>InsideInfoInsideInfo>Debug -->
   <MessageOrgan MessageLevel="Error" UseHistory="true" HistoryMaxCount="100" ></MessageOrgan>
   <!--RecordLevel 日志记录级别 Error>Warning>Note>InsideInfo>Debug-->
   <LogOrgan  RecordLevel="Error" ></LogOrgan>
   <!--数据库连接字符串-->
   <DataBase Secrecy="false" ConnectionStr="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\LHTDZS(new).mdb"></DataBase>
   <!--<DataBase ConnectionStr="Data Source=GIS_GeoServer_0;Persist Security Info=True;User ID=gis;Password=sys;Unicode="></DataBase>-->
   <!--扩展配置文件实体对象集合  Name：实体类全名 TypeFlagPath:类所在程序集相对程序根目录的路径 TypeFlag：类所在程序集 
    ConfigXMLPath：配置文件相对程序根目录的路径  ConfigXML:配置文件 -->
   <ExConfigs>
     <add Name="Test.testa" TypeFlagPath="" TypeFlag="Test.exe" ConfigXMLPath="MyConfig" ConfigXML="testa.xml" ></add> 
   </ExConfigs>
 </Protein>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>

</configuration>
